[Unit]
Description=Monitor Fedora Automatic Update Status

[Timer]
OnStartupSec=30s
# Attendre la fin de chaque tentative avant de programmer la suivante.
OnUnitInactiveSec=10s
AccuracySec=2s

[Install]
WantedBy=timers.target
