[Unit]
Description=Monitor Fedora Automatic Update Status

[Timer]
OnBootSec=30s
OnUnitActiveSec=10s
AccuracySec=2s

[Install]
WantedBy=timers.target
